.parent{
    background-color: blueviolet;
    color: aqua;
    width: 500px;
    height: 500px;
    text-align: center;

}
h1{
background-color: black;
height: 75px;
color: white;
}
@media (width)